.form-1 {
    display: flex;
    color: $white;
    background-color: $property-1;
    margin: 1em 1em;
    padding: 1em;

    &__text {
        width: $margin-text;
        font-size: fs("mega");
        align-items: center;
        color: $white;

        &--title {
            color: $white;
        }
        &--mesagge {
            color: $white;
        }
    }
    &__box {
        display: block;
        width: calc(100% - #{$margin-text});

        &--title {
            color: $white;
        }
            &--box {
                height: 5em;
                width: 5em;
                text-align: center;
                color: $white;
                background-color: $box-color;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 1em;
              
            }
        
    }
}
    .form-2 {
        display: flex;
        color: $white;
        background-color: $property-2;
        margin: 0 1em;
        padding: 1em;

        &__text {
            width: $margin-text;
            font-size: fs("mega");
           
            color: $white;

            &--title {
                color: $white;
            }
            &--mesagge {
                color: $white;
            }
        }
        &__box {
            display: block;
            width: calc(100% - #{$margin-text});
            
            &--title {
                color: $white;
            }
            &--box {
                    height: 5em;
                    width: 5em;
                    text-align: center;
                    color: $white;
                    background-color: $box-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1em;
                }
       
        }
    }