.justify-content {
    &__start {
        display: flex;
        justify-content: flex-start;
    }
    &__center {
        display: flex;
        justify-content: center;
    }
    &__end {
        display: flex;
        justify-content: flex-end;
    }
    &__arround {
        display: flex;
        justify-content: space-around;
    }
    &__between {
        display: flex;
        justify-content: space-between;
    }
}