<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
</head>

<body>
    <div class="header">
        <h1>FLEX LAYOUT</h1>
    </div>
    <div class="layout-text">
        <span>
            Dentro del posicionamiento flex podemos encontrar varias propiedades que nos permiten agrupar y alinear el contenido de los
            elementos.
        </span>
    </div>

    <div class="form-1">
        <div class="form-1__text">
            <div class="form-1__text--title"><h2>Justify-content</h2></div>
            <div class="form-1__text--message"><span>La propiedad justify-content permite alinear de forma
                <strong>horizontal</strong> los elementos dentro de un elemento padre. Dentro de esta propiedad podemos escoger
                distintos valores: </span></div>
        </div>
        <div class="form-1__content">
            <div class="form-1__content--title"><span>Start</span></div>
            <div class="form-1__content--box">
                <div class="justify-content__start">
                    <div class="form-1__content--box--box">1</div>
                    <div class="form-1__content--box--box">2</div>
                    <div class="form-1__content--box--box">3</div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>